import { use{{pascalCase name}}Page } from './use{{pascalCase name}}Page';
export type {{pascalCase name}}PagePropsType = {
  // props type
};
export const {{pascalCase name}}Page = (props: {{pascalCase name}}PagePropsType) => {
  const {} = props;
  const {} = use{{pascalCase name}}Page({});

  return (
    <div className=" w-5 h-5 bg-purple-100 text-black">{{pascalCase name}}Page Component</div>
  );
};
