import { use{{pascalCase name}} } from './use{{pascalCase name}}';
export type {{pascalCase name}}PropsType = {
  // props type
};
export const {{pascalCase name}} = (props: {{pascalCase name}}PropsType) => {
  const {} = props;
  const {} = use{{pascalCase name}}({});

  return (
    <div className=" w-5 h-5 bg-purple-100 text-black">{{pascalCase name}} Component</div>
  );
};
